*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header {
    background-color: #035581;
    position:fixed;
    height:50px;
    width:100dvw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    top:0;
    left:0;
} 
.header h2{
    color:#ffeaab;
}
nav{
    display:flex;
    height: 50px;
    gap:20px;
    padding:10px;
}
.logo{
    width:100px;
    height:40px;
}
nav a{
    color:white;
    text-decoration: none;
}
nav a:hover{
    transition:width;
    transition-duration:1ms;
    transition-timing-function: ease-in-out;
    color:#ffeaab;
}

.main{  
    padding-top:50px;
    height: 100dvh;
    width:100dvw;
    background-color:#035581ed;
    display:flex;
    justify-content:center;
    align-items: center;
}
.wrapper{   
    height: 80%;
    width:80%;
    display:flex;
    gap:50px;
    align-items: center;
    justify-content: center;
}

#ic{
    width:300px;
    height:300px;
    border-radius: 60%;
    border:1px black groove;
}
#ic:hover{
    border: 2px yellow   groove;
}

.main button{
    padding:5px;
    font-size: 20px;
    border: 2px rgb(252, 187, 255) solid;
    background-color: #ffeaab;
    border-radius: 10%;
    padding:10px;
    font-weight: 600;
    width:fit-content;
}
.content{
    display:flex;
    flex-direction: column;
    gap:15px;
}
.content .gr{
    font-size: 20px;
    color:white;
}
.content h1{
    font-size:35px;
    color:#ffeaab;
    font:italic;
}
.content p{
    font-size:25px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    width:90%;
}
#about{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
}

.abt_wrap{
    display:flex;
    flex-direction: column;
    width:80%;
    gap:20px;
}
.wrapabout{
    display:flex;
    justify-content: space-between;
}
.about_desc{
    display:flex;
    flex-direction:column;
    gap:16px;
    padding:20px;
    background-color:#035581ed ;
    width:60%;
    border-radius:8px;
}
.about_desc p{
    color:white;
    font-size: 20px;
}
.about_desc h2{
    color:white;
}

.skills{
    background-color:#035581ed;
    width:30%;
    border-radius:5%;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    padding:12px;
}

.skills img{
    width:100px;
    height:100px;
    border-radius: 10%;
}
